{% extends "lab_8/layout/base.html" %}
{% block content %}
<section name="postFeed" id="postFeed">
    <div class="container" id="lab8">
		 <button onClick="facebookLogin()"> login dengan facebook </button>
    </div>
</section>
{% endblock %}
AAAAaaaAAA